<div class="tabs-panel is-active" id="panel_scripts">
  <% if machine_learning_job.finished? && !machine_learning_job.errored? %>
    <%= render "settings" %>
  <% elsif machine_learning_job.running_for_too_long? %>
    <%= link_to t("admin.machine_learning.cancel"),
                cancel_admin_machine_learning_path,
                method: :post, class: "button hollow alert",
                data: { confirm: t("admin.machine_learning.cancel_alert") } %>
  <% elsif machine_learning_job.errored? || !machine_learning_job.started? %>
    <div class="callout secondary">
      <%= t("admin.machine_learning.script_info", email: current_user.email) %>
    </div>

    <div class="small-12 column">
      <div class="small-12 medium-6 large-4 margin-bottom end">
        <%= form_tag execute_admin_machine_learning_path, method: :post do %>
          <label for="script"><%= t("admin.machine_learning.select_script") %></label>
          <%= select_tag "script", options_for_select(script_select_options) %>

          <%= submit_tag t("admin.machine_learning.execute_script"), class: "button primary" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
