<% @machine_learning_settings.each do |setting| %>
  <div class="small-12 medium-6 large-4 column end" id="<%= dom_id(setting) %>">
    <div class="card">
      <div class="card-divider">
        <h3><%= t("admin.#{setting.key}") %></h3>
      </div>
      <div class="card-section">
        <p><%= t("admin.#{setting.key}_description") %></p>

        <%= form_for(setting, url: admin_setting_path(setting), method: :put) do |f| %>
          <%= f.hidden_field :value, value: (setting.enabled? ? "" : "active") %>
          <%= f.button(t("shared.#{setting.enabled? ? "yes" : "no"}"),
                       class: "button button-switch #{setting.enabled? ? "switch-on" : "switch-off"}") %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
